
objclang/
objclang_ui_/
objclang_uic/
objclang_uif/

objgcc/
objgcc_ui_/
objgcc_uic/
objgcc_uif/

ppo/
html/
dvi/
code_generated/

exe-db2/
exe-my/
exe-ora/
exe-pg/
exe-sqlite3/

error
error--*
out--*
opt--*
rsp--*
log-*
/g-*


cppver.opt
cppver.exp
commit-message
compopt
objgen.ch
pid

*.bak
*~

*.exe
*.dll
*.so
*.lib
*.a
*.obj
*.o

*.tmp
*.nopack
*.class
*.jar
*.exp
*.pyc
*.toc
*.aux
*.dvi
*.lj
*.log
*.rul
*.out
*.say
*.savex
*.dsync
*.cls
*.och

#installed
usr/include/cccgtk.h
usr/include/gdk.ch
usr/include/gtk.ch
usr/include/gdkkey.ch


