

*.bak
*~

*.exe
objlin/
objlin_uic/
objlin_ui_/
ppo/
code_generated/
error
error--*

commit-message
/g-*
/*.savex



outc
outcpp
outlnk
outpre
outlemon
outflex
outtth
compopt
rsplink
gccver.opt


*.tmp
*.nopack
*.class
*.jar
*.dll
*.exp
*.so
*.lib
*.a
*.obj
*.o
*.pyc
*.toc
*.aux
*.dvi
*.lj
*.log
*.rul
*.out

commit-message


#installed
usr/include/cccgtk.h
usr/include/gdk.ch
usr/include/gtk.ch


log-*
log
exe
pid

exe-ora
exe-pg
exe-sqlite3


#symlink
usr/bin/freebsd/*
!usr/bin/freebsd/*.b
usr/bin/linux/*
!usr/bin/linux/*.b
usr/bin/netbsd/*
!usr/bin/netbsd/*.b
usr/bin/solaris/*
!usr/bin/solaris/*.b

usr/bin/linux/__linux.b
usr/bin/linux/bapp_linux.b
usr/bin/linux/bapp_linux0.b
usr/bin/linux/bapp_linux_.b
usr/bin/linux/bapp_linux_btbtx.b
usr/bin/linux/bapp_linux_datidx.b
usr/bin/linux/bapp_linux_dbfctx.b
usr/bin/linux/bapp_linuxc.b
usr/bin/linux/bapp_linuxc_btbtx.b
usr/bin/linux/bapp_linuxc_datidx.b
usr/bin/linux/bapp_linuxc_dbfctx.b
usr/bin/linux/bapp_linuxg.b
usr/bin/linux/bapp_linuxg_dbfctx.b


cccgtk/codegen/gtkapi.bt



