

/********** TEXTAREA **********/

textarea{
    font-size: @GLOBAL_FONT_SIZE;
    font-family: @GLOBAL_FONT_FAMILY;
    color:@GLOBAL_TEXT_COLOR;
    font-weight: normal;

    border: 1px solid mix(@FIELDSET_COLOR,#000,80%); 
    outline: none;
}