

// INPUT TEXT

#get(){
    color:@GLOBAL_TEXT_COLOR;
    outline:0px;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: #ccc;
    box-shadow:1px 1px 2px #abb;

    &:focus{
        background-color: #ffffff;
    }

    &:not(focus){
        background-color: #f4f4f4;
    }
}


input[type=text]{
    #get;


    &[pattern]:invalid:focus{
        color: #c00000;
        background-color: #ffeeee;
    }

    &[pattern]:invalid:not(focus){
        color:red;
        background-color: #ffa0a0;
    }
}

