h1,
h2,
h3,
label,
legend {
  color: #566;
  font-weight: normal;
}
img {
  max-width: 100%;
  max-height: 100%;
}
div.page {
  display: flex;
  flex-direction: row;
}
div.page div.menu {
  flex: 0 0 auto;
  width: auto;
  margin-top: 60px;
  margin-right: 6px;
  border: 5px none red;
  padding: 4px 2px;
}
div.page div.menu input.menubutton,
div.page div.menu input.pdmenubutton,
div.page div.menu input.submenubutton {
  width: 120px;
  height: 32px;
  margin: 2px 4px 0px 4px;
}
div.page div.menu input.submenubutton {
  background-image: none;
  background-color: #4bb041;
  border-color: #4bb041;
}
div.page div.menu input.submenubutton:hover {
  border-left-color: #3b8b33;
}
div.page div.menu input.submenubutton:disabled {
  background-color: #536e50;
  border-color: #536e50;
}
div.page div.menu input.submenubutton:active {
  background-color: #3b8b33;
  border-color: #3b8b33;
}
div.page div.formset {
  flex: 0 0 auto;
  border: 5px none black;
  padding: 4px 2px;
}
div.page div.formset div.tabbut {
  border: 5px none green;
  padding: 0px 0px 0px 5px;
}
div.page div.formset div.tabbut input[type=button] {
  background-image: none;
  color: #3e4a4a;
  background-color: #f0efe7;
  border: thin solid #d3d0b8;
  text-shadow: none;
  padding: 2px 12px;
  transition: 0.1s;
  margin: 0px 0px 4px 2px;
}
div.page div.formset div.tabbut input[type=button]:active {
  box-shadow: 1px 1px #777777;
  transform: translateY(1px);
}
div.page div.formset div.tabbut input[type=button][data-pushed=true] {
  background-color: white;
  border: thin solid #cccccc;
}
div.page div.formset div.form div.subform fieldset {
  color: #413932;
  background-color: #f0efe7;
  border: thin solid #c0bfb9;
  border-radius: 6px;
}
div.page div.formset div.form div.subform fieldset legend {
  background-color: #f0efe7;
  border: thin solid #c0bfb9;
  border-radius: 10px;
}
div.page div.formset div.form div.subform div.formaction {
  border: 5px none  blue;
}
div.page div.formset div.form div.subform div.formaction input[type=button] {
  padding: 4px 10px;
  margin: 5px 0px 2px 2px;
}
div.page div.formset div.action {
  border: 5px none cyan;
}
div.page div.formset div.action input[type=button] {
  padding: 4px 10px;
  margin: 5px 0px 2px 2px;
}
select {
  border-radius: 3px;
  margin: 0px 2px 2px 2px;
  cursor: pointer;
  outline: none;
  color: #3e4a4a;
  border: thin solid #d3d0b8;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}
select:focus {
  text-decoration: underline;
}
select:focus {
  background-color: #ffffff;
}
select:not(focus) {
  background-color: #f4f4f4;
}
input[type=button] {
  border-radius: 3px;
  margin: 0px 2px 2px 2px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  background-color: olivedrab;
  background-image: none;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  padding: 1px 8px;
  border-radius: 6px;
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: olivedrab;
  transition: 0.3s;
}
input[type=button]:focus {
  text-decoration: underline;
}
input[type=button]:hover {
  border-left-color: #4c6519;
}
input[type=button]:disabled {
  background-image: none;
  background-color: #46522c;
  border-color: #46522c;
  color: #bfbfbf;
  cursor: auto;
}
input[type=button]:active {
  background-image: none;
  background-color: #4c6519;
  border-color: #4c6519;
}
input[type=text] {
  color: #566;
  outline: 0px;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: #ccc;
}
input[type=text]:focus {
  background-color: #ffffff;
}
input[type=text]:not(focus) {
  background-color: #f4f4f4;
}
input[type=text][pattern]:invalid:focus {
  color: #c00000;
  background-color: #ffeeee;
}
input[type=text][pattern]:invalid:not(focus) {
  color: red;
  background-color: #ffa0a0;
}
input[type=password] {
  color: #566;
  outline: 0px;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: #ccc;
}
input[type=password]:focus {
  background-color: #ffffff;
}
input[type=password]:not(focus) {
  background-color: #f4f4f4;
}
select {
  border-radius: 3px;
  margin: 0px 2px 2px 2px;
  cursor: pointer;
  outline: none;
  padding: 1px 2px;
  font-size: small;
}
select:focus {
  text-decoration: underline;
}
tr {
  cursor: pointer;
}
tr.even {
  background-color: #f0f0f0;
}
tr.odd {
  background-color: #ffffff;
}
tr.oddX {
  background-color: #ffff00;
}
tr.evenX {
  background-color: #ffff00;
}
th {
  color: white;
  background-color: grey;
}
td {
  color: #566;
  white-space: nowrap;
  font-size: smaller;
}
textarea {
  font-family: sans-serif;
  color: #566;
  font-weight: normal;
  border: thin solid #c0bfb9;
  border-radius: 3px;
  outline: none;
}
textarea:focus {
  background-color: #ffffff;
}
textarea:not(focus) {
  background-color: #f4f4f4;
}
#menuicon {
  margin-right: 8px;
  margin-bottom: 8px;
  float: right;
  display: block;
  cursor: pointer;
}
#menuicon div {
  width: 12px;
  height: 2px;
  background-color: black;
  margin: 2px 0;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  padding: 0px 0px;
  margin: 0px 0px;
  z-Index: 2;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s, height 0s;
  transition-delay: 0s, 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#overlay #blind {
  background-color: rgba(0, 0, 0, 0);
  width: 90%;
  height: 0%;
  overflow: hidden;
  transition: height 0.3s;
}
#overlay #blind #alert {
  background-color: rgba(250, 250, 100, 0.9);
  padding: 0px 50px;
  margin: 8px 8px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(200, 200, 0, 0.9);
  box-shadow: 3px 3px 5px 1px gray;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  background: #ffffff;
  font-size: 12px;
  font-family: sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.region {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.region .scroll {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.region .resize {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-style: solid none none none;
  border-width: thin;
  border-color: #ccc;
  box-shadow: 0px 1px 3px 0px #ccc inset;
  cursor: row-resize;
}
#region_webapp {
  flex: 0 0 auto;
  border-style: solid;
  border-color: #888;
  border-width: thin;
  box-shadow: 0px 0px 20px 2px #ccc inset;
}
#region_webapp .resize {
  display: block;
}
#region_webapp .display {
  margin: 0px 10px 0px 15px;
}
#region_frmaux {
  display: block;
  flex: 1 1 auto;
}
#region_frmaux .resize {
  display: none;
}
#region_frmaux .display {
  margin: 2px 2px 2px 2px;
}
